/* Default layout for larger screens */
.mobile {
    display: flex;
    flex-direction: row;
  }
  
  .mob {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding-bottom: 5vh;
  }
  
  .nav {
    margin-left: 16px;
  }
  
  /* Responsive layout for screens up to 768px */
  @media screen and (max-width: 768px) {
    .mob {
      flex-direction: column;
      align-items: center;
    }
  
    .mobile {
      flex-direction: column;
      gap: 8px;
      align-items: center;
    }
  
    .nav {
      margin-top: 16px;
    }
  }  